/* author:safna K A*/
body {
    background-image: url("../images/shutterstock_186964970-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.btn {
    width: fit-content;
}
input,
select {
    border-radius: 5px;
    border: none;
}
form {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    color: #fff;
}
.avail {
    flex-direction: column;
}
@media screen and (max-width: 972px) and (min-width: 234px) {
    .blank {
        display: none;
        padding: 0;
        margin: 0;
    }
    .form {
        margin: 0;
    }
    .row > * {
        max-width: 92%;
    }
    body {
        background-image: none;
        background-color: rgb(126, 126, 255);
    }
}
